@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.podcast {
  width: 100%;
  height: calc(100vh - 12px);
  position: relative;
  @include flex(flex-start, center);
  flex-direction: column;
  color: white;
  text-transform: uppercase;
  padding: 0 12px 12px;
  text-align: center;

  @include tablet {
    flex-direction: row;
  }

  h2 {
    font-size: 3rem;
    @include wide-mobile {
      font-size: 5rem;
      white-space: nowrap;
    }

    @include tablet {
      font-size: 8rem;
    }
  }

  h3 {
    font-weight: 300;
    font-size: 1.4rem;
    @include tablet {
      font-size: 2.4rem;
    }

    a {
      text-decoration: underline;
      color: white;
      white-space: nowrap;
    }
  }
}

.podcast__hero {
  width: calc(100% - 24px);
  height: calc(100vh - 12px);
  position: fixed;
  top: 0;
  left: 12px;
  background-size: cover;
  background-position: right;
  background-image: url("../images/podcast-crop.jpg");
  @include flex(center, center);
  z-index: -1;
  filter: brightness(80%);

  @include tablet {
    background-position: top;
    filter: brightness(100%);
  }
}

.podcast__sidebar {
  width: 40%;
  height: 240px;
  padding-top: calc(80px + 4%);
  margin-bottom: 4%;
  @include flex(center, center);
  flex-direction: column;

  @include tablet {
    height: 100%;
    margin-bottom: 0;
  }

  img {
    height: 140px;
  }
}

.episode-container {
  width: 100%;
  height: 220px;
  text-align: left;
  @include flex(space-between, center);
  flex-direction: column;
  margin-right: auto;
  text-align: center;
  padding: 0 4%;

  @include tablet {
    width: 80%;
    padding: 0;
  }

  h1 {
    font-size: 1.8rem;
  }

  iframe {
    width: 80%;

    @include tablet {
      width: 60%;
    }
  }
}
