@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.box__artist {
  &:first-of-type {
    margin-bottom: 12px;

    @include wide-mobile {
      margin-bottom: 0;
      margin-right: 6px;
    }
  }

  &:nth-of-type(2) {
    @include wide-mobile {
      margin-left: 6px;
    }
  }

  &:last-of-type {
    margin-top: 12px;
    @include desktop {
      margin-top: 0;
      margin-left: 12px;
    }
  }
}
